:root {
    --color-action-500: #3B82F6;
    --color-action-500-hover: #2563EB;
    --color-action-text-500: #fff;
    --color-background-500: #F8FAFC;
    --color-background-400: #E2E8F0;
    --color-text-500: #1E293B;
    --color-text-400: #64748B;
    --color-success: #10B981;
    --color-error: #10B981;
}